body {
    background-color: #F2F3F4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

}

.container {
    padding: 3em;
    margin: -2em;
    background-color: #f8f9f9;

}



.greece {
    padding-left: 100px;
}


td {
    padding: 10;
}

table,
th,
td {
    border: 1px solid #000;
    text-align: center;
    font-size: 1rem;

}



table {

    width: 100%;
    border-collapse: collapse;



}

.language {


    font-size: 1rem;


}

.language h2 {

    font-style: oblique;
}

.language p {
    text-align: left;

}

h2 {


    font-style: oblique;
}

.Interests {

    font-size: 1rem;

}




.greek {
    margin-left: 9%;
    width: 100%;

}

.p1,
.p2,
.p3 {
    flex: 1;
}

@media (min-width: 801px) {
    .Interests {
        display: flex;

    }

    .destination {
        display: flex;

    }


    .destination p {
        margin-left: .8%;


    }

    .greek {

        margin: 0;
    }


    .me img {
        width: 100%;


    }

    .me {
        display: flex;
        width: 55%;
        font-style: oblique;


    }

    h1 {
        width: 100%;
        padding-block: 25%;
    }

    .Interests img {
        float: left;
        margin-right: .6em;
        height: 70%;
    }



}

@media (max-width: 800px) {

    .CT_text {
        display: flex;
        height: 25%;


    }

    .BK_text {
        display: flex;
        flex-direction: row-reverse;
        height: 25%;


    }

    .D6_text {
        display: flex;
        height: 25%;
        


    }

    
    .greek {

        margin: 0;
    }




}