body {
    background-color: #F2F3F4;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
   

}

.container {
    padding: 3em;
    margin: -2em;
    background-color: #f8f9f9;
  

}



.greece {
    padding-left: 100px;
}

th {
    text-align: center;
}

td {
    padding: 10;
}

table,
th,
td {
    border: 1px solid #000;

}

td {

    text-align: center;
    font-size: small;
}

table {

    width: 100%;
    border-collapse: collapse;
   


}

.language {

    justify-content: center;
    font-size: small;
    

}

.language h2 {

    font-style: oblique;
}

.language p {
    text-align: left;

}

h2 {

    margin-top: 5%;
    margin-bottom: 3%;
    font-style: oblique;
}

.Interests {

    padding-top: 5px;
    font-size: small;
    
}




.greek {
    margin-left: 9%;
    width: 100%;

}

@media (min-width: 801px) {
    .Interests {
        display: flex;

    }

    .destination {
        display: flex;
        margin-right: 2em;
        justify-content: right;
    }


    .destination p {
        padding-top: 2%;
        margin-left: .8%;


    }

    .greek {

        max-width: 100%;
        margin: 0;
    }


    .me img {
        width: 100%;
        align-content: center;

    }

    .me {
        display: flex;
        width: 55%;
        font-style: oblique;
        

    }

    h1 {
        width: 100%;
        padding-block: 25%;
    }

    .Interests img {
        float:left;
        margin-right: 2em;
    }



}

@media (max-width: 780px) {
    .BK_text {
        display: flex;
        flex-direction: row-reverse;
        width: 276px;
        height: 170px;
        object-fit: cover;

    }

    .D6_text {
        display: flex;
        width: 276px;
        height: 170px;
        object-fit: cover;
    }

    .CT_text {
        display: flex;
        width: 276px;
        height: 170px;
        object-fit: cover;

    }

    .Interests img {
        float:left
    }



    .greek {

        margin: 0;
    }

    .me img {
        margin: 0;

    }



}

@media (min-width: 600px) {
    .me {
        display: flex;
        text-align: center;
        width: 55%;
        font-style: oblique;

    }

}